

.active { 
    width: 300px !important; 
} 


.navigation { 
    width: 60px; 
    height: 100%; 
    transition: all 0.4s; 
    overflow: hidden; 
} 


.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
}


.navigation li {
    position: relative;
    width: 100%;
    list-style: none;
}


.navigation a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
    
}


.icon { 
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
} 

.title {
    font-family: 'Poppins';
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}



@media screen and (max-width: 991px) {
    .active { 
        width: 60px !important; 
    } 
    
    .navigation { 
        width: 300px; 
    } 
} 







/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */






/* .navigation ul li a .icon svg {
    font-size: 24px;
} */ 



/* .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
}


.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}


.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}


.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgb(187, 32, 32);
}

/* .navigation ul li a .icon svg {
    font-size: 24px;
} */ 
