
.list { 
    font-family: 'Poppins'; 
    cursor: pointer; 
} 

.listHoverEffect:hover { 
    background: #4A5568; 
    border-radius: 10px; 
    width: 92%; 
} 


.logo { 
    font-family: 'Poppins'; 
    font-weight: 300; 
    font-size: 30px; 
    cursor: pointer; 
} 


